body {
	background-color: #61473A;
	font-family: Arial, sans-serif;
	font color: white;
}

.header {
	font-family: cursive;
	font color: #51B4D4;
	text-align: center;
}

.navbar {
	text-decoration: none;
	text-align: center;
}

.navbar a {
	font color: 
}