body {
	background-color: #000000;
	font-family: Trebuchet, sans-serif;
	color: black;
}

a {
	text-decoration: none;
	color: #3299BB;
}

a:visited {
	text-decoration: none;
	color: #329900;
}

.flex-container {
	display: flex;
	flex-flow: wrap column;
	align-items: stretch;
	margin-top: -10px;
	min-height: 100vh;
}

.header {
	width: 300px;
	background-color: #FF9900;
	font-family: Trebuchet, sans-serif;
	color: #51B4D4;
	font-size: 2em;
	padding: 10px;
	text-decoration: none;
	margin-top: -10px;
	margin-left: -10px;
	text-align: center;
}

.header a {
	text-decoration: none;
	color: #E9E9E9;
}

.header a:hover {
	text-decoration: none;
	color: #E9E9E9;
}

.navbar {
	text-decoration: none;
	width:300px;
	background-color: #E9E9E9;
	padding:10px;
	color: #424242;
	margin-left: -10px;
	min-height: 100vh;
}

.navbar a {
	color: #3299BB;
}

.navbar a:hover {
	color: #3299BB;
}

.social {
	align-items: center;
	margin: 5px;
}

.content{
	background-color: #424242 ;
	color: #E9E9E9;
}





