<style type="text/css">

	@font-face {
	    font-family: Sullivan-Fill;
	    src: url(/css/fonts/Sullivan-Fill.otf);
	}

	.gamebox{
    	border-collapse: collapse;
    	width: 80px;
    	height: 80px;
    	background-color: #E9E9E9;
    	font-family: "Sullivan-Fill";
    	font-size: 2em;
    	text-align: center;
    	transition: all .2s ease-in-out;
	}

	.gamebox:hover{
		background-color: #fbfbfb;
	}

	.gamebox:onclick{
		background-color: #3299BB;
	}

	.unselected__X {
		color: #E9E9E9;
		transition: all .2s ease-in-out;
		text-decoration: none;
	}

	.unselected__X:visited {
		color: #E9E9E9;
	}

	.unselected__X:hover {
		font-size: 2em;
		color: #FF9900;
	}

	.unselected__O {
		transition: all .2s ease-in-out;
		color: #E9E9E9;
		text-decoration: none;		
	}

	.unselected__O:visited {
		color: #E9E9E9;
	}

	.unselected__O:hover {
		font-size: 2em;
		color: #3299BB;
	}

	.xselected {
		background-color: #FF9900;
		border-collapse: collapse;
    	width: 80px;
    	height: 80px;
		font-family: "Sullivan-Fill";
		font-size: 4em;
		text-align: center;
	}

	.oselected {
		background-color: #3299BB;
		border-collapse: collapse;
    	width: 80px;
    	height: 80px;
		font-family: "Sullivan-Fill";
		font-size: 4em;
		text-align: center;

	}

	.game__submit{
		background-color: #2289AB;
		color: white;
		border: none;
		height: 25px;
		width: 125px;
	}

	.game__submit:hover {
		background-color: #3299BB;
	}

</style>